<form action="/{{pageName}}/save" method="POST">
  <textarea name="content" cols="60" rows="8">{{content}}</textarea><br>
  <button type="submit">Save</button>
</form>

<form action="/logout">
    <input type="submit" value="Logout">
</form>
