
<h1> About Me </h1>

<p> I like long walks on the beach and candle-lit dinners. ;) </p>

<br>
<!-- Navigation Begins -->
<div>
<a href="/" class="btn btn-info" role="button">Home</a>
<a href="about2" class="btn btn-info" role="button">About me</a>
<a href="projects" class="btn btn-info" role="button">My Projects</a>
<a href="contact" class="btn btn-info" role="button">Contact Form</a>
</div>
