
<p>Hello {{name}}, and welcome to this wonderful web page.</p>


<p> I'ma attending DigitalCrafts to become a full stack developer </p>

<img src="https://avatars0.githubusercontent.com/u/8472801?v=3&s=400" alt="A picture of me in Hawaii" />

<br>
<!-- Navigation Begins -->
<div>
<a href="/" class="btn btn-info" role="button">Home</a>
<a href="about2" class="btn btn-info" role="button">About me</a>
<a href="projects" class="btn btn-info" role="button">My Projects</a>
<a href="contact" class="btn btn-info" role="button">Contact Form</a>
</div>
